[submodule "elfin_robot"]
	path = elfin_robot
	url = https://github.com/isura/elfin_robot.git
	branch = melodic-devel
[submodule "robotiq"]
	path = robotiq
	url = https://github.com/rokokoo/robotiq.git
	branch = kinetic-devel
[submodule "roboticsgroup_gazebo_plugins"]
	path = roboticsgroup_gazebo_plugins
	url = https://github.com/roboticsgroup/roboticsgroup_gazebo_plugins.git
