<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find samk_2f_140_gripper)/config/ros_controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="elfin_arm_controller gripper_controller "/> -->

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" ns="/samk" ouput="screen"
    args="--namespace=/samk
    joint_state_controller
    elfin_arm_controller
    gripper_controller
    --timeout 20" />

</launch>
