<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="samk_epick">
	<xacro:include filename="$(find elfin_description)/urdf/elfin5.urdf.xacro" />
	<xacro:include filename="$(find samk_description)/urdf/robotiq_epick.urdf" />

	<joint name="tool_connector" type="fixed">
		<origin xyz="0.0 0.0 0.1" rpy="0 0.0 0.0"/>
		<parent link="elfin_end_link" />
		<child link="robotiq_base_link" />
	</joint>

</robot>